@import url("https://fonts.googleapis.com/css?family=Codystar:300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-family: "Ubuntu", sans-serif;
  background-image: url(bgvideo.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.container-team {
  padding: 0 15px;
  max-width: 820px;
  margin: auto;
}

.team {
  padding: 100px 0;
}

.team-item {
  background-color: hsl(260, 10%, 10%);
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-gap: 30px;
  margin-top: 40px;
}

.team-img {
  position: relative;
  overflow: hidden;
}
.team-links {
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.team-links a {
  height: 40px;
  width: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(183, 67%, 51%);
  text-decoration: none;
  color: hsl(260, 10%, 10%);
  margin: 0 2px;
  transform: translate(-100px) rotate(90deg);
  transition: all 0.5s ease calc(0.1s * var(--i));
  opacity: 0;
}

.team-item:hover .team-links a {
  transform: translateX(0) rotate(0);
  opacity: 1;
}

.team-links i {
  transition: transform 0.3s ease;
}
.team-links a:hover i {
  transform: rotate(360deg);
}

.team-img img {
  width: 100%;
  vertical-align: middle;
  transition: all 0.5s ease;
}

.team-item:hover .team-img img {
  transform: scale(1.1);
  filter: brightness(60%) grayscale(100%);
}

.team-text {
  padding: 20px 15px;
  text-align: center;
}

.team-text h3 {
  color: hsl(183, 67%, 51%);
  text-transform: capitalize;
  font-weight: 500;
  margin: 0 0 5px;
  font-size: 20px;
}

.team-text p {
  font-size: 16px;
  color: hsla(0, 0%, 100%, 0.7);
  text-transform: capitalize;
  font-weight: 300;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.background-image {
  /* background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23814D1F' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23A96A0E'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E"); */
  background-image: url("img/img7.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}
.group {
  background-image: url("img/grp1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.title {
  padding-top: 12rem;
  color: rgba(91, 74, 47, 0.72);
  font-size: 7rem;
  text-align: center;
  text-shadow: #fff;
  padding-left: 15px;
  padding-right: 15px;

  font-family: "Roboto", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

.neons h1 {
  font-size: 7rem;
  text-align: center;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}
@media only screen and (max-width: 522px) {
  .title {
    padding-top: 9.5rem;
    font-size: 5rem;
  }
  .neons h1 {
    font-size: 5rem;
  }
  .scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid #9f9f9f9f;
    position: absolute;
    z-index: 0;
    left: 50%;
    bottom: 242px;
    border-radius: 13px;
    cursor: pointer;
  }
}
@media only screen and (max-width: 1024px) {
  .scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid #9f9f9f9f;
    position: absolute;
    z-index: 0;
    left: 50%;
    bottom: 242px;
    border-radius: 13px;
    cursor: pointer;
  }
}

@-webkit-keyframes glow {
  from {
    color: #fff;
    text-shadow: 0 0 10px #f2b553, 0 0 20px #f2b553, 0 0 30px #f2b553,
      0 0 40px #f2b553, 0 0 50px #f2b553, 0 0 60px #f2b553, 0 0 70px #f2b553,
      0 0 90px #f2b553;
  }

  to {
    color: #fcfcfc84;
    text-shadow: 0 0 20px #f2b553, 0 0 30px #f2b553, 0 0 40px #f2b553,
      0 0 50px #f2b553, 0 0 60px #f2b553, 0 0 70px #f2b553, 0 0 80px #f2b553,
      0 1 90px #f2b553;
  }
}

.scroll-down {
  height: 50px;
  width: 30px;
  border: 2px solid #9f9f9f9f;
  position: absolute;
  z-index: 0;
  left: 50%;
  bottom: 20px;
  border-radius: 13px;
  cursor: pointer;
}
.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  z-index: 0;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid #b6b6b6d8;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::before {
  top: 30%;
  animation-delay: 4s;
  /* animation: scroll-down 1s ease-in-out infinite; */
}

@keyframes scroll-down {
  0% {
    /* top:20%; */
    opacity: 4;
  }
  30% {
    opacity: 2;
  }
  60% {
    opacity: 0;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}

/* ------------- Global Classes ---------- */
a {
  text-decoration: none;
  color: #ffffffc2;
}

/*nav-bar*/
.container {
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 5%;
  width: 30px;
  height: 20px;
  z-index: 1001;
}

.bars {
  width: 30px;
  height: 4px;
  background: rgba(218, 218, 218, 0.757);
  
  
}

.bars::before,
.bars::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background: rgba(209, 209, 209, 0.8);
  
}

.bars::before {
  margin-top: 9px;
}

.bars::after {
  margin-top: 18px;
}

nav {
  position: absolute;
  width: 100%;
  height: 0px;
  background: rgba(0, 0, 0, 0.863);
  backdrop-filter: blur(8px);
  z-index: 1001;

  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  margin: 50px 0;
  text-align: center;
}

nav ul li a {
  color: #fafafa;
  font-size: 2em;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  opacity: 0;
  pointer-events: none;
}

nav ul li a:after {
  content: "";
  width: 100%;
  position: absolute;
  height: 3px;
  border-radius: 5px;
  background: #fff;
  bottom: -10px;
  left: 0;
  transform-origin: left;
  transition: transform 0.5s ease;
  transform: scaleX(0);
}

nav ul li a:hover:after {
  transform: scaleX(1);
}

nav .close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 6%;
  right: 5%;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
}

nav h2 {
  position: absolute;
  top: 5%;
  left: 5%;
  opacity: 0;
  pointer-events: none;
  color: #fff;
  font-size: 2em;
}

nav .close div::before,
nav .close div::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background: #fff;
  transition: background 0.2s ease;
}

nav .close div::before {
  transform: rotate(-45deg);
}

nav .close div::after {
  transform: rotate(45deg);
}

nav .close:hover div::before,
nav .close:hover div::after {
  background: rgb(209, 3, 3);
}

h1 {
  padding-top: 3rem;
  /* padding-left: 3rem; */
  font-size: 3.3rem;
  text-decoration: none;
  color: #f2b553;
  text-align: center;
  position: relative;
}

h1 {
  -webkit-text-stroke: 1.8px rgba(255, 115, 0, 0.323);
}
/* hover_css_code */
@import "https://fonts.googleapis.com/css?family=Do+Hyeon";

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clear-fix:after {
  display: block;
  clear: both;
  content: "";
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.card__collection {
  position: relative;
  display: block;
  font-family: "Do Hyeon", sans-serif;
  overflow: hidden;
}

.card__collection .cards {
  width: 300px;
  height: 400px;
  display: block;
  background-size: cover;
  float: left;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  background-position: center;
}

.card__collection .cards--two {
  position: relative;
  backface-visibility: hidden;
}

.card__collection .cards--two p {
  position: absolute;
  top: 83%;

  left: -100%;
  text-transform: capitalize;
  color: #fff;
  font-size: 20px;
  z-index: 8;
  transition: all 0.6s ease;
}

.card__collection .cards--two:hover p {
  left: 8%;
}

.card__collection .cards--two:hover img {
  transform: translateY(-15px);
}

.card__collection .cards--two:hover .cards--two__rect {
  top: 75%;
}

.card__collection .cards--two:hover .cards--two__rect:before {
  transform: translateY(15px);
}

.card__collection .cards--two:hover li {
  transform: translateY(0);
}

.card__collection .cards--two:hover .cards--two__tri {
  right: -40%;
}

.card__collection .cards--two:hover .cards--two__tri:before {
  right: -312px;
}

.card__collection .cards--two img {
  transition: all 0.2s ease;
}

.card__collection .cards--two__tri {
  border-top: 220px solid transparent;
  border-bottom: 190px solid transparent;
  border-right: 288px solid #fff;
  opacity: 0.9;
  position: absolute;
  display: block;
  top: 0;
  right: -100%;
  transition: all 0.3s ease-in-out;
}

.card__collection .cards--two__tri:before {
  border-top: 220px solid transparent;
  border-bottom: 190px solid transparent;
  border-right: 288px solid #57ccfd;
  position: absolute;
  content: "";
  display: block;
  top: -220px;
  right: -612px;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.2s;
}

.card__collection .cards--two__rect {
  width: 750px;
  height: 200px;
  background: #fff;
  display: block;
  position: absolute;
  top: 175%;
  left: -78%;
  transform: rotate(30deg);
  z-index: 5;
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
}

.card__collection .cards--two__rect:before {
  content: "";
  display: block;
  width: 100%;
  position: relative;
  height: 100%;
  background: #f07306;
  transform: translateY(200px);
  z-index: 2;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.1s;
}

.media-last {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* flex-wrap: wrap; */
}
@media only screen and (max-width: 600px) {
  .media-last {
    flex-wrap: wrap;
  }
  .scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid #9f9f9f9f;
    position: absolute;
    z-index: 0;
    left: 50%;
    bottom: 242px;
    border-radius: 13px;
    cursor: pointer;
  }

}

.mediateam-only {
  padding: 0 15px;
  max-width: 1000px;
  margin: auto;
}

/* #myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.team {
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
} */




