@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
*
{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body
{
  font-family: 'Poppins', sans-serif;


}
ul
{
  list-style:none;
}
a
{
  text-decoration:none;
}
.background-image{
  background-image: url('img/img.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header
{
  height:100vh;
  width:100%;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('https://images.unsplash.com/photo-1668613962618-b389448296c9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMzB8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
  background-size:cover;
}


.navbar
{
  position:absolute;
  width:100%;
  padding:30px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background-color: #665aaf;
}
.navbar .logo
{
  font-size:30px;
  font-weight:bold;
}
.navbar .nav-links ul
{
  display:flex;
}
.navbar .nav-links ul li
{
  margin:0 25px;
}
.navbar .nav-links ul li.active a
{
  color:#03020d;
  font-weight:600;
}
.navbar a
{
  color:white;
}
.navbar .menu-hamburger
{
  display:none;
  color:white;
  position:absolute;
  top:50px;
  right:50px;
  font-size:35px;
  cursor:pointer;
}
h1
{
    text-align: center;
    padding-top: 40px;
}
.container
{
    display:flex;
    padding-top: 60px;

}
#p1
{
    padding-left:22%;;
}
#p2
{
    padding-left: 7.18%;;
}

@media screen and (max-width:900px)
{
  .navbar
  {
    padding:0;
  }
  .navbar .logo
  {
    display:none;
  }
  .navbar .menu-hamburger
  {
    display:block;
  }

  .nav-links.mobile-menu
  {
  left:0;

  }


  .navbar .nav-links ul li
  {
  margin:25px 0;
  font-size:1.2em;
  }
  .menu-hamburger
  {
    display:block;
  }

}
@media screen and (max-width:959px)
{
  .container
  {
    flex-direction: column;
  }
  .team
  {
    align-self: center;
    padding: 0;
  }
  #p1,#p2
  {
    padding:0;
  }
  #x
  {
    padding-top: 0;
  }
}

/* hover_css_code */
@import 'https://fonts.googleapis.com/css?family=Do+Hyeon';
 *, *:before, *:after {
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
}
 .clear-fix:after {
	 display: block;
	 clear: both;
	 content: '';
}
 .img-responsive {
	 max-width: 100%;
	 height: auto;
}
 .card__collection {
	 position: relative;
	 display: block;
	 font-family: 'Do Hyeon', sans-serif;
	 overflow: hidden;
}
 .card__collection .cards {
	 width: 300px;
	 height: 400px;
	 display: block;
	 background-size: cover;
	 float: left;
	 border-radius: 15px;
	 position: relative;
	 overflow: hidden;
	 background-position: center;

}
 .card__collection .cards--two {
	 position: relative;
	 backface-visibility: hidden;
}
 .card__collection .cards--two p {
	 position: absolute;
	 top: 83%;
	 left: -100%;
	 text-transform: capitalize;
	 color: #fff;
	 font-size: 20px;
	 z-index: 8;
	 transition: all 0.6s ease;
}
 .card__collection .cards--two:hover p {
	 left: 8%;
}
 .card__collection .cards--two:hover img {
	 transform: translateY(-15px);
}
 .card__collection .cards--two:hover .cards--two__rect {
	 top: 75%;
}
 .card__collection .cards--two:hover .cards--two__rect:before {
	 transform: translateY(15px);
}
 .card__collection .cards--two:hover li {
	 transform: translateY(0);
}
 .card__collection .cards--two:hover .cards--two__tri {
	 right: -40%;
}
 .card__collection .cards--two:hover .cards--two__tri:before {
	 right: -312px;
}
 .card__collection .cards--two img {
	 transition: all 0.2s ease;
}
 .card__collection .cards--two__tri {
	 border-top: 220px solid transparent;
	 border-bottom: 190px solid transparent;
	 border-right: 288px solid #fff;
	 opacity: 0.9;
	 position: absolute;
	 display: block;
	 top: 0;
	 right: -100%;
	 transition: all 0.3s ease-in-out;
}
 .card__collection .cards--two__tri:before {
	 border-top: 220px solid transparent;
	 border-bottom: 190px solid transparent;
	 border-right: 288px solid #57ccfd;
	 position: absolute;
	 content: '';
	 display: block;
	 top: -220px;
	 right: -612px;
	 transition: all 0.3s ease-in-out;
	 transition-delay: 0.2s;
}
 .card__collection .cards--two__rect {
	 width: 750px;
	 height: 200px;
	 background: #fff;
	 display: block;
	 position: absolute;
	 top: 175%;
	 left: -78%;
	 transform: rotate(30deg);
	 z-index: 5;
	 opacity: 0.9;
	 transition: all 0.3s ease-in-out;
}
 .card__collection .cards--two__rect:before {
	 content: '';
	 display: block;
	 width: 100%;
	 position: relative;
	 height: 100%;
	 background: #f07306;
	 transform: translateY(200px);
	 z-index: 2;
	 transition: all 0.3s ease-in-out;
	 transition-delay: 0.1s;
}

